@import 'tailwindcss';

@theme {
	--color-*: initial;
	--color-background: #1a202c;
	--color-layer: #2d3748;
	--color-accent: #4fd1c5;
	--color-text: #f7fafc;
	--color-subtext: #cfd0d2;
}

:root {
	color-scheme: dark;
	font-size: 18px;
	@apply bg-background text-text;

	-webkit-tap-highlight-color: transparent;
}
* {
	@apply border-layer;
}

main {
	@apply mx-auto flex max-w-(--breakpoint-md) flex-col p-4;
}

@utility button {
	@apply rounded px-4 py-2;
}
@utility accent {
	@apply bg-accent text-background;
}
@utility layer {
	@apply bg-layer;
}
@utility iconized-button {
	@apply flex flex-col items-center gap-2 button layer pt-3 text-xs;
}

@utility input {
	@apply w-full button border-2 !border-accent/10 bg-layer shadow-inner;
	@apply transition-all focus:!border-accent focus:outline-none;
	@apply placeholder:text-subtext;
}
@utility link-select {
	@apply appearance-none bg-transparent text-accent underline focus:outline-none;
}
