@import 'tailwindcss';

@theme {
	--color-*: initial;
	--color-background: #1a202c;
	--color-layer: #2d3748;
	--color-accent: #4fd1c5;
	--color-text: #f7fafc;
	--color-subtext: #e2e8f0;
}

:root {
	color-scheme: dark;
	font-size: 18px;
	@apply bg-background text-text;

	-webkit-tap-highlight-color: transparent;
}
* {
	@apply border-layer;
}

main {
	@apply mx-auto flex max-w-(--breakpoint-md) flex-col p-4;
}

.button {
	@apply rounded px-4 py-2;
}
@utility accent {
	@apply bg-accent text-background;
}
@utility layer {
	@apply bg-layer;
}
